* {
    font-family: sans-serif;
    /* outline: solid red; */
}
#background-gif {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
.Results{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    flex: 300px;
    height: 100px;
}
.box {

    display: flex;
    flex-direction: column;
    justify-content: center;
    

}
.box>* {
    flex: 1 1 300px;
    margin: 10%;
    
}

    img{
    max-width: 100%;
    align-items: space-evenly;
    }

    h1,
    form{
    display: flex;
    justify-content: center;

}



